@use '../../sass/variables' as *;

*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Hanken Grotesk";
    scroll-behavior: smooth;
}

.home-container{
    width: 100%;
    height: 740px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dark-colors{
    background-color: $black;
    color: $white;
}

.portfolio{
    border: 1px solid $white;
    width: 90%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio-owner{
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    text-transform: uppercase;
    width: 30%;
    height: 50px;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.portfolio-type{
    height: 500px;
    font-size: 160px;
    font-weight: 300;
    padding-left: 20px;
    margin-top: 15px;
}

// Media Queries

@media(max-width: 850px){
    .portfolio-type{
        font-size:100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

@media(max-width: 600px){
    .portfolio{
        justify-content: center;
    }

    .portfolio-owner{
        width: 40%;
        border-left: 1px solid $white;
        justify-content: center;
        align-items: center;
        padding-left:0;
    }

    .portfolio-type{
        justify-content: center;
        text-align: center;
    }
}

@media(max-width: 430px){
    .portfolio-owner{
        width: 50%;
    }

    .portfolio-type{
        font-size: 80px;
    }
}